* { margin: 0; padding: 0; box-sizing: border-box; }
  body { 
  	background: #fcfcfc;

  }


.collection {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar {
}

.collection .collection-item.avatar {
	min-height: 60px;
}

#toast-container {
	top: 0;
	right: 0;
}

.toast {
	height: auto;
}

#hotel-entry .false {
	display: none;
}



.card-title {
	width: 100%;
	background: #26a69a;
	padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.collapsible-body .inner {
	width: 90%;
	margin-left: 5%;
}

.secondary-content.has_0 {
	color: gray;
}
@media only screen and (min-width: 601px) {
	#main {
		margin-top: 100px;
	}

}

@media only screen and (max-width: 992px) and (min-width: 601px){
	#toast-container {
	    left: auto !important;
	    min-width: auto;
	}
}