* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	background: #fcfcfc;

}


h4 {
	font-size: 20px;
}

.collection {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.hotel-logo {
	margin: 16px 0;
	margin-left: 8px;
}

.collection-item {
	font-size: 14px;
}

.collection-item.service {
	font-size: 15px;
}

.collection .collection-item.avatar {
	min-height: 60px;
}

#toast-container {
	top: 0;
	right: 0;
}

.toast {
	height: auto;
}

#hotel-entry .false {
	display: none;
}

.room-number {
	font-size: 16px;
}

.floor-number {
	font-size: 14px;
	color: rgba(0, 0, 0, .7);
}

.card-title {
	width: 100%;
	background: #0288d1;
}

.card .card-image .card-title {
	padding: 20px;
	display: block;
	margin-top: -0.3em;
	position: relative;
}

.collapsible-body .inner {
	width: 90%;
	margin-left: 5%;
}

.secondary-content, span.badge, label {
	color: rgba(0, 0, 0, .7);
}

#hotel-entry .secondary-content {
	background-color: #ff5252;
	border-radius: 30px;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 30px;
	color: white;
	margin-top: .5rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

i.material-icons {
	color: rgba(0, 0, 0, .7);
}

#hotel-entry .secondary-content.has_0 {
	color: rgba(0, 0, 0, .3);
	background: none;
	box-shadow: none;
}

.font-white {
	color: white !important;
	font-size: 2.3em !important;
}
@media only screen and (min-width: 601px) {
	#main {
		margin-top: 118px;
	}

}

@media only screen and (max-width: 992px) and (min-width: 601px){
	#toast-container {
		left: auto !important;
		min-width: auto;
	}
}