* { margin: 0; padding: 0; box-sizing: border-box; }
  body { 
  	background: #fcfcfc;

  }


.collection {
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background: white;
}

.collection .collection-item.avatar {
	min-height: 60px;
}

#toast-container {
	top: 0;
	right: 0;
	width: 17%;
}

.toast {
	height: auto;
}